@import '../../style/variables.scss';

.promo {
	min-height: 100vh;
	position: relative;
	background: url(../../resources/pictures/main_bg_revers.jpg) no-repeat 50% / cover;
	padding-top: 200px;
	&__title {
		width: 535px;
		margin-top: 10px;
		color: $text-color;
		text-align: left;
	}
	&__subtitle {
		color: $text-color;
		position: relative;
		z-index: 2;
		padding-left: 10px;
		text-align: left;
	}
	&__subtitle:before {
		content: '';
		position: absolute;
		width: 36px;
		height: 36px;
		border-radius: 100%;
		background: $main-color;
		z-index: -1;
		top: -27%;
		left: 0;
	}
	&__btns {
		margin-top: 25px;
	}
}
