@import '../../style/variables';
.skills {
	padding-top: 60px;
	padding-bottom: 60px;
	color: $text-color;
	&__wrapper {
		row-gap: 15px;
		column-gap: 15px;
		justify-content: center;
	}
	&__item {
		width: 250px;
		height: 280px;
		border: 1px solid $main-color;
		padding: 20px 20px 10px 20px;
	}
	&__item-img {
		max-height: 70px;
		min-height: 70px;
	}
	&__item-descr {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}
}
