@import '../../style/variables.scss';

.contacts {
	padding-top: 60px;
	padding-bottom: 90px;
	background-color: $bg-color;
	color: $text-color;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 5% 5%;
	}
	&__photo {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	&__title {
		position: relative;
		padding-left: 11px;
		margin-top: 5px;
		z-index: 2;
	}
	&__title:before {
		content: '';
		position: absolute;
		width: 36px;
		height: 36px;
		border-radius: 100%;
		background: $main-color;
		z-index: -1;
		top: -27%;
		left: 0;
	}
	&__title:before {
		left: -2px;
	}
	&__subtitle {
		position: relative;
		z-index: 2;
		margin-bottom: 30px;
	}
	&__subtitle:before {
		content: '';
		position: absolute;
		width: 60px;
		border: 2px solid $main-color;
	}
	&__subtitle:before {
		top: 100%;
	}

	&__social,
	&__text {
		margin-top: 20px;
	}
	&__form {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
	&__form label {
		display: block;
		position: absolute;
		height: 18px;
		padding: 0 8px;
		background-color: #fff;
		font-size: 14px;
		margin-bottom: 0;
		top: -15px;
		left: 15px;
	}
	&__input {
		position: relative;
		height: 40px;
		input {
			width: 100%;
			height: 100%;
			padding: 0 20px;
			font-size: 12px;
			font-weight: 500;
		}
	}
	&__textarea-group {
		position: relative;
		height: 100%;
	}
	&__textarea {
		width: 100%;
		resize: none;
	}
}
.contacts__triggers {
	grid-column: 1/3;
	display: grid;
	grid-template-columns: repeat(2, auto);
	-moz-column-gap: 35px;
	column-gap: 35px;
}
.contacts__policy {
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	margin-right: 10px;
	input {
		margin-right: 10px;
	}
}
.contacts__btn {
	border: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}
.contacts__policy-checkbox {
	color: #000;
}
