@import '../../style/variables.scss';

.aboutme {
	min-height: 600px;
	padding-top: 60px;
	padding-bottom: 60px;
	&__title {
		position: relative;
		padding-left: 11px;
		z-index: 2;
	}
	&__title:before {
		content: '';
		position: absolute;
		width: 36px;
		height: 36px;
		border-radius: 100%;
		background: $main-color;
		z-index: -1;
		top: -27%;
		left: 0;
	}
	&__subtitle {
		position: relative;
		z-index: 2;
		margin-bottom: 20px;
	}
	&__subtitle:before {
		content: '';
		position: absolute;
		width: 60px;
		border: 2px solid $main-color;
	}
	&__subtitle:before {
		top: 100%;
	}
	&__block .item {
		position: relative;
		display: grid;
		grid-template: 35px auto/35px auto;
		-moz-column-gap: 15px;
		column-gap: 15px;
	}
	&__block .item &__img {
		margin-top: 15px;
		z-index: 3;
	}
	&__block .item &__descr {
		grid-column-start: 2;
		grid-row-start: 2;
	}
	&__block .item &__title {
		position: relative;
		z-index: 2;
		font-size: 14px;
		font-weight: 700;
		line-height: 21px;
	}
	&__block .item &__title:before {
		content: '';
		position: absolute;
		width: 36px;
		height: 36px;
		border-radius: 100%;
		background: $main-color;
		z-index: -1;
		top: -27%;
		left: 0;
	}
	&__block .item &__title:before {
		z-index: 1;
		left: -65px;
		top: 0;
	}
	&__block_wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}
}
.aboutme__descr {
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: $text-color;
	margin-bottom: 0;
}
.aboutme__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	color: $text-color;
}
#about_photo {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
